/*Grop :7
Nishankar
Arshad 
Varnaraj
*/

.center {
	display: block;
	margin: auto;
}

/* -----------------------SlideShow------------------------- */
* {
	box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Hide the images by default */
.mySlides {
	display: block;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation*/
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}  */

/* Slide Show End */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
	overflow-x: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #9fa1a4;
	line-height: 1.5;
}

a {
	color: #777;
	text-decoration: none;
	transition: 0.3s all ease;
}

a:hover {
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
	font-family: 'Poppins', sans-serif;
	color: #000;
}

.container {
	z-index: 2;
	position: relative;
}

.text-black {
	color: #000 !important;
}

.text-primary {
	color: #2d71a1 !important;
}

.border-top {
	border-top: 1px solid #f2f2f2 !important;
}

.border-bottom {
	border-bottom: 1px solid #f2f2f2 !important;
}

figure figcaption {
	margin-top: 0.5rem;
	font-style: italic;
	font-size: 0.8rem;
}

section {
	overflow: hidden;
}

.section {
	padding: 7rem 0;
}

.section-heading {
	font-size: 3rem;
	font-weight: 700;
	background: linear-gradient(-45deg, #3db3c5, #274685);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #2d71a1;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #3687c1;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/* Default btn sre-tyling */
.btn {
	border: none;
	padding: 15px 30px !important;
}

.btn.btn-outline-white {
	border: 2px solid #fff;
	background: none;
	color: #fff;
}

.btn.btn-outline-white:hover {
	background: #fff;
	color: #2d71a1;
}

.btn.btn-primary {
	background: #2d71a1;
	background: linear-gradient(-45deg, #1391a5, #274685);
	color: #fff;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

/* Feature 1 */
.feature-1 .wrap-icon {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: relative;
	margin-bottom: 30px;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.feature-1 .wrap-icon.icon-1 {
	background: linear-gradient(-45deg, #3b87bd, #2d71a2);
}

.feature-1 .wrap-icon i {
	font-size: 40px;
	line-height: 0;
	color: #fff;
}

.feature-1 h3 {
	font-size: 20px;
}

.feature-1 p {
	color: #b1b1b1;
}

/* Testimonial Carousel */
.testimonials-slider .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #2d71a1;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #2d71a1;
}

/* CTA Section */
.cta-section {
	background: linear-gradient(to right, #274685 0%, #3db3c5 100%);
	color: #fff;
}

.cta-section h2 {
	color: #fff;
	font-size: 3rem;
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	.cta-section h2 {
		font-size: 2rem;
	}
}

.cta-section .btn {
	background: #000000;
	color: #fff;
}

.cta-section .btn i {
	margin-right: 5px;
	font-size: 24px;
	line-height: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	height: 80px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
}

#header.header-scrolled {
	background: rgba(39, 70, 133, 0.8);
	height: 60px;
}

#header .logo h1 {
	font-size: 28px;
	margin: 0;
	padding: 4px 0;
	line-height: 1;
	font-weight: 500;
	color: beige;
}

#header .logo h1 a,
#header .logo h1 a:hover {
	color: #fff;
	text-decoration: none;
}

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.65);
	white-space: nowrap;
	transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
	color: #fff;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 14px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
	border-radius: 4px;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 15px;
	color: #101c36;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
	color: #2d71a1;
}

.navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
		left: -100%;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(27, 49, 94, 0.9);
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	border-radius: 10px;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a {
	padding: 10px 20px;
	font-size: 15px;
	color: #101c36;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
	color: #2d71a1;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
	color: #2d71a1;
}

.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
	background: linear-gradient(
			to right,
			rgba(39, 70, 133, 0.8) 0%,
			rgba(61, 179, 197, 0.8) 100%
		),
		url(../img/hero-bg.jpg);
	position: relative;
}

.hero-section .wave {
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	bottom: -150px;
}

@media screen and (max-width: 992px) {
	.hero-section .wave {
		bottom: -180px;
	}
}

.hero-section .wave svg {
	width: 100%;
}

.hero-section,
.hero-section > .container > .row {
	height: 100vh;
	min-height: 880px;
}

.hero-section.inner-page {
	height: 60vh;
	min-height: 0;
}

.hero-section.inner-page .hero-text {
	transform: translateY(-150px);
	margin-top: -120px;
}

@media screen and (max-width: 992px) {
	.hero-section.inner-page .hero-text {
		margin-top: -80px;
	}
}

.hero-section h1 {
	font-size: 3.5rem;
	color: #fff;
	font-weight: 700;
	margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
	.hero-section h1 {
		font-size: 2.5rem;
		text-align: center;
		margin-top: 40px;
	}
}

@media screen and (max-width: 992px) {
	.hero-section .hero-text-image {
		margin-top: 4rem;
	}
}

.hero-section p {
	font-size: 18px;
	color: #fff;
}

.hero-section .iphone-wrap {
	position: relative;
}

@media screen and (max-width: 992px) {
	.hero-section .iphone-wrap {
		text-align: center;
	}
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
	position: absolute;
	top: -50%;
	overflow: hidden;
	left: 0;
	box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
	border-radius: 30px;
}

@media screen and (max-width: 992px) {
	.hero-section .iphone-wrap .phone-2,
	.hero-section .iphone-wrap .phone-1 {
		position: relative;
		top: 0;
		max-width: 100%;
	}
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
	width: 250px;
}

@media screen and (max-width: 992px) {
	.hero-section .iphone-wrap .phone-1 {
		margin-left: -150px;
	}
}

.hero-section .iphone-wrap .phone-2 {
	margin-top: 50px;
	margin-left: 100px;
	width: 250px;
}

@media screen and (max-width: 992px) {
	.hero-section .iphone-wrap .phone-2 {
		width: 250px;
		position: absolute;
		margin-top: 0px;
		margin-left: 100px;
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	padding: 5rem 0 2.5rem 0;
}

.footer h3 {
	font-size: 18px;
	margin-bottom: 30px;
}

.footer ul li {
	margin-bottom: 10px;
}

.footer a {
	color: #000;
}

.footer .copyright {
	margin-bottom: 0px;
}

.footer .copyright,
.footer .credits {
	font-size: 14px;
}

.social a {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f8f9fa;
	position: relative;
	text-align: center;
	transition: 0.3s background ease;
	color: #0d1e2d;
	line-height: 0;
}

.social a span {
	display: inline-block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.social a:hover {
	color: #fff;
	background: #2d71a1;
}

.social a i {
	line-height: 0;
}

/* TimeLine */

/*---------------------------Team------------------------------
--------------------------------------------------------------- 
 */

#mentimg {
	display: inline-block;
	margin-right: auto;
	margin-bottom: auto;
	height: 300px;
	width: auto;
}

@media screen and (min-width: 992px) {
	.team {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

@media screen and (max-width: 992px) {
	#mentimg {
		display: inline-block;
		margin-right: auto;
		margin-bottom: auto;
		height: auto;
		width: 320px;
	}
}

@media screen and (max-width: 992px) {
	.member {
		text-align: center;
		font-size: 15px;
		color: #000;
		padding-bottom: 50px;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.member {
	text-align: center;
	font-size: 22px;
	color: #000;
}

#logo_s {
	height: 35px;
	width: auto;
}

@media screen and (max-width: 992px) {
	#logo_s {
		height: 28px;
		width: auto;
	}
}
